{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}

    <h1>Вход</h1>
    {% if form.errors %}
        <p>
            Неверный логин или пароль.
            Попробуйте снова.
        </p>
    {% else %}
        <p>Пожалуйста, используйте следующую фору для входа:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}