{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}

    <h1>Вход</h1>
    {% if form.errors %}
        <p>
            Неверный логин или пароль.
            Попробуйте снова.
        </p>
    {% else %}
    <p>
        Пожалуйста, используйте эту форму для входа.
        Если у вас еще нет аккаунта то
        <a href="{% url 'register' %}">зарегистрируйтесь здесь</a>.
    </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Войти"></p>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">
                Забыли свой пароль?
            </a>
        </p>
    </div>
{% endblock %}