{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1>Сбросьте свой пароль</h1>
  {% if validlink %}
    <p>Пожалуйста, введите свой новый пароль дважды:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Измените мой пароль" /></p>
    </form>
  {% else %}
    <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась.
      Пожалуйста, запросите сброс нового пароля.</p>
  {% endif %}
{% endblock %}