{% extends "base.html" %}

{% block title %}Информационная панель{% endblock %}

{% block content %}
    <h1>Информационная панель</h1>
    {% with total_images_created=request.user.images_created.count %}
    <p>Добро пожаловать на вашу информационную панель.
       Вы закрепили {{ total_images_created }} изображений{{ total_images_created|pluralize }}.</p>
    {% endwith %}
    <p>Перетащите следующую кнопку на панель инструментов закладок,
        чтобы добавить в закладки изображения с других веб-сайтов →
        <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="button">Закрепить =)</a>
    </p>
       <p>Вы можете <a href="{% url 'edit' %}">изменить ваш профиль</a> или <a href="{% url 'password_change' %}">
            изменить ваш пароль</a>
    </p>
    <h2>Последние события</h2>
    <div id="action_list">
        {% for action in actions %}
            {% include "actions/action/detail.html" %}
        {% endfor %}
    </div>

{% endblock %}